@import "../../assets/scss_styles/global-imports";

.product-page {
   @include flex-center-column;
   padding: .5rem 0;

   .product {
      @include flex-center-vert;
      gap: 1rem;
      padding: .5rem 0;

      @include _576 {
         flex-direction: column;
      }

      .product-image {
         width: 600px;
         height: 450px;
         flex: 1;

         @include _992 {
            width: 400px;
            height: 280px;
         }

         @include _576 {
            width: 320px;
            height: 250px;
         }
      }

      .product-summary {
         @include flex-center-column;
         gap: 2rem;
         flex: 1;

         .product-title {
            font-size: 1.5rem;

            @include _576 {
               font-size: 1.2rem;
               text-align: center;
               padding: 0 1rem;
            }
         }

         .product-price {
            font-size: 1.5rem;
            font-weight: 400;

            // @include _576 {
            //    font-size: 1rem;
            // }
         }
      }


      .product-services-part {
         width: 100%;
         padding: .5rem 0;
         @include flex-center;
         gap: 2rem;

         @include _768 {
            gap: 1rem;
         }
      }
   }
}