@import "../../assets/scss_styles/global-imports";

.product-categories {
   @include flex_center_horiz;
   flex-wrap: wrap;


   @include _768 {
      padding-top: 1rem;
      gap: 1rem;
      // color: $clr_dark_main;
      text-shadow: 0 0 1px $clr_black;
   }
}


.product-subcategory {
   position: absolute;
   z-index: 1011;
   @include flex-column;
   @include blur-background;

   .category-item {
      border-bottom: 1px solid $clr_main;

      @include _768 {
         @include blur-background;
         color: $clr_black;
      }

   }

   @include _576 {
      max-width: 100%;
      width: 100%;


   }
}