@import "../../assets/scss_styles/global-imports";

.home {
   @include flex-center-column;

   .banner {
      width: 100%;
      height: 1000px;

      @include _1200 {
         height: 800px;
      }

      @include _992 {
         height: 500px;
      }

      @include _576 {
         height: 300px;
      }
   }
}