@import "../../../assets/scss_styles/global-imports";

.service-buttons {
   @include flex-center-vert;
   gap: 1rem;
   order: 2;

   @include _576 {
      gap: .5rem;
   }

   .service-btn {
      width: 1.6rem;
      height: 1.6rem;
      position: relative;
      font-size: .8rem;
      line-height: 1.5rem;

      .product-quantity {
         position: absolute;
         top: -.5rem;
         right: -.5rem;
         border: 1px solid $clr_main;
         background: $clr_dark_main;

         width: 1.5rem;
         height: 1.5rem;
         border-radius: 50%;
         text-align: center;

      }
   }
}