@import "../../assets/scss_styles/global-imports";

.category-item {
   padding: 1rem 0.5rem;
   font-size: 1.2rem;
   cursor: pointer;

   &:hover {
      @include blur-background;
      color: $clr_black;
   }

   @include _768 {
      padding: 0.2rem 0.5rem;
      // border-bottom: 1px solid $clr_main ;
   }

   @include _576 {
      width: 100%;
      // border-bottom: 1px solid $clr_main;
   }
}

// .not-active {
//    opacity: .2;
//    color: red;
// }