@import "../../assets/scss_styles/global-imports";

.image-button {
   width: 100%;
   height: 100%;
   background: none;

   &:hover {
      @include hover-transform;
      filter: $main_filter;
   }
}

.light-style-image-button {
   filter: $white_filter;
}