$clr_white: rgb(255, 255, 255);
$clr_black: #000000;
$clr_light_black: #34363e;
$clr_gray: rgb(116, 116, 116);
$clr_light_gray: #d8dee9;
$clr_main: #00eeff;
$clr_dark_main: #2fb2c4;
$clr_light_main: #00eeff5d;
$main_filter: invert(71%) sepia(22%) saturate(3278%) hue-rotate(136deg) brightness(104%) contrast(104%);
$white_filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(188deg) brightness(116%) contrast(100%);
$title_font: "AeonikPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$main_font: 'RobotoCondensed', Helvetica, Arial, sans-serif;
$nunito_font: 'Nunito', Helvetica, Arial, sans-serif;